.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: auto;
    border: 1px solid #95A0A7;
    border-radius: 8px;
}

.product img {
    top: 0;
    width: 286px;
    height: 286px;
    margin: 7px;
    border-radius: 8px;
}

.product-name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
}

.product-info {
    margin-left: 14px;
    height: 160px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.product-info p{
    line-height: 10px;
}

.btn-cart {
    padding: 10px;
    border: none;
    border-radius: 0 0 8px 8px;
    width: 100%;
    bottom: 0;
}

.btn-cart:hover {
    background-color: orange;
    transition: 0.5s;
}
@media (max-width : 568px) {
    .product {
        width: 200px;
        height: 370px;
    }
    .product img {
        top: auto;
        width: 186px;
        height: 186px;
        margin: 7px;
        border-radius: 8px;
    }
    .product-name {
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
    }
    .product-info p{
        margin-left: 0;
        line-height: 8px
    }
    .btn-cart {
        width: 100%;
        bottom: 0;
    }
    .product-info{
        height: 120px;
        margin-bottom: 25px;
    }
    .product{
        height: auto;
    }
}