.review-item{
    display: flex;
    width: 571px;
    border: 1px solid #95a0a7;
    border-radius: 8px;
    margin-bottom: 25px;
}
.review-item img{
    width: 90px;
    height: 90px;
    border: none;
    margin: 5px;
    border-radius: 10px;
}
.review-item-info{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}
.review-item-info p{
    margin: 0 10px;
}
.review-item-info span{
    color: orange;
}
.review-item-info button{
    margin: 0 10px;
    padding: 10px;
    background-color: rgba(235, 87, 87, 0.5);
    color: #eb5757;
    border: none;
    font-size: 20px;
    border-radius: 10px;
}
.name{
    font-size: 17px;
    font-weight: 600;
}
@media (max-width: 500px) {
    .review-item{
        display: flex;
        flex-direction: column;
        width: 200px;
    }
    .review-item img{
        width: 190px;
        height: 190px;
    }
    .review-item-info{
        align-items: flex-end;
        margin-bottom: 10px;
    }

}