.order-container{
    margin-left: 10px;
    border-radius: 10px;
}
.order-summary{
    text-align: center;
}
.btns{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clear-cart-btn{
    width: 90%;
    background: rgb(194, 45, 45);
    height: 40px;
    font-size: 17px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media (max-width: 568px) {
    .clear-cart-btn{
        height: 35px;
        font-size: 15px;
    }
}